/* You can add global styles to this file, and also import other style files */
.margin-for-nav {
  margin-top: 54px;
}

$navbar-max-logo-height: 26px;

.limit-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clickable {
  cursor: pointer;
}

